@define-color selected-text #bd93f9;
@define-color text #f8f8f2;
@define-color base #282a36;
@define-color border #bd93f9;
@define-color foreground #f8f8f2;
@define-color background #282a36;

window {
  border: 3px;
  border-radius: 8px;
}

window .box-wrapper {
  border-radius: 8px;
}

window .search-container,
window .search {
  border-radius: 8px;
}

window .bar,
window .scroll,
window .list {
  border-radius: 8px;
}

window child {
  border-radius: 8px;
}
